:root {
  --column-width: 640px;
  --gap-width: 10px;
  --player-color: #666666;
}

/* 通用样式：下的直接子元素（不包含更深的元素） */
.playerContainer > div {
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.playerContainer th {
  min-width: 90px;
}

.playerContainer em {
  font-size: smaller;
}

.playerContainer {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 定义两列，左边大右边小 */
  grid-template-rows: repeat(3, auto); /* 定义三行，高度自动 */
  gap: var(--gap-width); /* 定义各区域的间距 */
  box-sizing: border-box;
}

.playerWrapper {
  background-color: var(--player-color); /*播放器颜色*/
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: var(--column-width);
}

.playerSectionVideo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.playerSectionControl {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.playerSectionState {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-width: var(--column-width);

}

.playerSectionState td {
  width: 550px;
  white-space: nowrap; /* 不换行 */
  overflow-x: auto; /* 当内容过长时显示水平滚动条 */
}

.playerFooter {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-self: center;
}


